* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: burlywood;
}

button {
  width: 100px;
  height: 100px;
}
.grey {
  background-color: grey;
  border: none;
}
.black {
  background-color: black;
  border: none;
}
.yellow {
  background-color: yellow;
  border: none;
}
.white {
  background-color: white;
  border: none;
}
