* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #667eea, #764ba2);
}
.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cal-container {
  width: 400px;
  height: 500px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.cal-functions {
  width: 350px;
  height: 350px;
  /* border: 2px solid black; */
  border-radius: 6px;
  display: grid;
  grid-template-areas:
    "ac backspace divide multiply"
    "seven eight nine sub"
    "four five six add"
    "one two three equal"
    "zero zero decimal percentage";
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.display {
  width: 300px;
  height: 90px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 6px;
  font-size: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  overflow: hidden;
  word-wrap: break-word;
  color: white;
  font-family: monospace;
  
}
.btn {
  width: 50px;
  height: 50px;
  place-items: center;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}
.zero {
  border-radius: 10px !important;
}

.btn:active {
  background-color: inherit;
}
.zero {
  display: grid;
  grid-area: zero;
  width: 100px;
}
.one {
  display: grid;
  grid-area: one;
}
.two {
  display: grid;
  grid-area: two;
}
.three {
  display: grid;
  grid-area: three;
}
.four {
  display: grid;
  grid-area: four;
}
.five {
  display: grid;
  grid-area: five;
}
.six {
  display: grid;
  grid-area: six;
}
.seven {
  display: grid;
  grid-area: seven;
}
.eight {
  display: grid;
  grid-area: eight;
}
.nine {
  display: grid;
  grid-area: nine;
}
.ac {
  display: grid;
  grid-area: ac;
}
.add {
  display: grid;
  grid-area: add;
}
.multiply {
  display: grid;
  grid-area: multiply;
}
.divide {
  display: grid;
  grid-area: divide;
}
.sub {
  display: grid;
  grid-area: sub;
}
.equal {
  display: grid;
  grid-area: equal;
}
.decimal {
  display: grid;
  grid-area: decimal;
}
.percentage {
  display: grid;
  grid-area: percentage;
}
.backspace {
  display: grid;
  grid-area: backspace;
}
